.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;

  height: 3em;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);

}

object {
  height: 1.5em;
}

mat-sidenav-content{
  background-color: #F1F2F2;
  /* background-image: "../assets/Images/bg11.jpg"; */
}

.dash{
 color: #ED1C29;
 font-size: 2em;
}

.title_header{
  margin: 3em 4%;
}